@* main Template File *@
@(param: Any)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Gyllene Hjorten: Frågespel</title>
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/main.js")"></script>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
	</head>
	<body>
		<div id="loadingscreen">
			Laddar...
		</div>
		<div id="container">
			<h1 id="header" class="section">GH Frågespel</h1>
			<div id="cards" class="section">
				<div id="question" class="card">
					<div class="cardheader">
						<a class="currentcategory blocktext left"></a>
						<a id="showanswer" class="blocklink right">Visa svaret</a>
					</div>
					<div class="cardmain"></div>
					<div class="cardfooter"></div>
				</div>
				<div id="answer" class="card">
					<div class="cardheader">
						<a class="currentcategory blocktext left"></a>
						<a id="showquestion" class="blocklink right">Visa frågan</a>
					</div>
					<div class="cardmain"></div>
					<div class="cardfooter">
						<a id="readmore" class="blocklink right">Läs mer</a>
					</div>
				</div>
				<div id="info" class="card">
					<div class="cardheader"></div>
					<div class="cardmain">
						Det här är ett mysigt litet frågespel från föreningen <a href="http://gyllenehjorten.se">Gyllene Hjorten</a>.
					</div>
					<div class="cardfooter">
						<a class="close blocklink right">OK</a>
					</div>
				</div>
				<div id="tags" class="card">
					<div class="cardheader"></div>
					<div class="cardmain"><a id="alltags" class="blocklink checked">Alla</a></div>
					<div class="cardfooter">
						<a class="close blocklink right">OK</a>
					</div>
				</div>
				<div id="difficulty" class="card">
					<div class="cardheader"></div>
					<div class="cardmain">Denna funktion är inte implementerad än.</div>
					<div class="cardfooter">
						<a class="close blocklink right">OK</a>
					</div>
				</div>
				<div id="message" class="card">
					<div class="cardheader"></div>
					<div class="cardmain"></div>
					<div class="cardfooter"></div>
				</div>
			</div>
			<div id="categories" class="section">
			</div>
			<div id="options" class="section">
				<a class="category">Slumpa</a>
				<a id="showtags" class="blocklink">Taggar</a>
				<a id="showdifficulty" class="blocklink">Nivå</a>
				<a id="showinfo" class="blocklink">Info</a>
			</div>
			<div id="footer" class="section">
				Det här är ett spel från föreningen <a href="http://gyllenehjorten.se">Gyllene Hjorten</a>. <br/>
				&copy; Gyllene Hjorten 2013.
			</div>
		</div>
	</body>
</html>
