@* main Template File *@
@()

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta name="viewport" content="width=320, initial-scale=1"/>
		<title>Erborigien Pursuit</title>
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/button.js")"></script>
		<script src="@routes.Assets.at("javascripts/main.js")"></script>		
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.custom.css")"/>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abril+Fatface">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>		
	</head>
	<body>
		<div id="game">
			<div id="header">
				<img id="logo" src=@routes.Assets.at("images/logo.gif")>
				<h1>Erborigien Pursuit</h1>
			</div>
			<div id="main" class="container clear-top">				
				<p id="cards">
					<div id="question" class="panel">
						<div class="panel-heading">
							<span class="currentcategory"></span>
						</div>
						<div class="panel-body">
							<div id="question-text"></div>
						</div>
					</div>
					<div id="answer" class="panel">
						<div class="panel-heading">
							<span class="currentcategory"></span>
						</div>
						<div class="panel-body">
							<div id="answer-text"></div>
						</div>
						<!-- 	<a id="readmore" class="blocklink right">Läs mer</a>	-->
					</div>
					<div id="info" class="panel panel-default">
						<div class="panel-heading">
							Om spelet
							<button type="button" class="close">&times;</button>
						</div>
						<div class="panel-body">
							<div>
								Det här är ett mysigt litet frågespel från föreningen <a href="http://gyllenehjorten.se">Gyllene Hjorten</a>.
							</div>
						</div>
					</div>
					<div id="tags" class="panel panel-default">
						<div class="panel-heading">
							Taggar
							<button type="button" class="close">&times;</button>
						</div>
						<div class="panel-body" data-toggle="buttons">
							<div id="tag-list">
								<button type="button" id="alltags" class="btn btn-default active"/>Alla</button>
							</div>
						</div>
					</div>
					<div id="difficulty" class="panel panel-default">
						<div class="panel-heading">
							Svårighetsgrad
							<button type="button" class="close">&times;</button>
						</div>
						<div class="panel-body">
							<div>Denna funktion är inte implementerad än.</div>
						</div>
					</div>
					<div id="message" class="panel panel-default">
						<div id="message-heading" class="panel-heading">
							Laddar...
						</div>
						<div class="panel-body">
							<div id="message-text">
								Var god vänta.
							</div>
						</div>
					</div>
				</p>
				<div id="controls">
					<p id="categories">
						<div id="category-list" class="btn-group btn-group-lg">
						</div>
					</p>
					<p id="options">
						<div class="btn-group btn-group-lg">
							<button id="random" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-question-sign"></span>
							</button>
							<button id="showtags" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-tag"></span>
							</button>
							<button id="showdifficulty" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-stats"></span>
							</button>
							<button id="showinfo" type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-info-sign"></span>
							</button>
						</div>	
					</p>
				</div>
			</div>
		</div>
		<p id="footer">
			Det här är ett spel från föreningen <a href="http://gyllenehjorten.se">Gyllene Hjorten</a>. <br/>
			&copy; Gyllene Hjorten 2013.
		</p>
	</body>
</html>
